@import '~@angular/material/theming';

@mixin sidenav-list-component-theme($HotelApp) {
    
    $primary: map-get($HotelApp , primary);
    $accent: map-get($HotelApp , accent);

    .mat-list-option:hover, 
    .mat-list-option:focus, 
    .mat-nav-list .mat-list-item:hover, 
    .mat-nav-list .mat-list-item:focus, 
    .mat-action-list .mat-list-item:hover, 
    .mat-action-list .mat-list-item:focus {
        background-color: mat-color($HotelApp-primary, 300);
        color: mat-color($HotelApp-primary, 900);
    }
}