@import '~@angular/material/theming';

$hotel-primay: (
50 : #ffffff,
100 : #ffffff,
200 : #ffffff,
300 : #ddf1ef,
400 : #c8e8e5,
500 : #b2dfdb,
600 : #9cd6d1,
700 : #87cdc7,
800 : #71c4bd,
900 : #5cbbb3,
A100 : #ffffff,
A200 : #ffffff,
A400 : #f6fffe,
A700 : #dcfffc,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

$hotel-accent: (
50 : #fefcf4,
100 : #fdf8e5,
200 : #fcf3d3,
300 : #fbeec1,
400 : #faeab4,
500 : #f9e6a7,
600 : #f8e39f,
700 : #f7df96,
800 : #f6db8c,
900 : #f5d57c,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #fffdf8,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

@include mat-core();

$HotelApp-primary: mat-palette($hotel-primay, 700 , 300 , 900);
$HotelApp-accent:  mat-palette($hotel-accent, 500 , 300 , 700);

$HotelApp-warn:    mat-palette($mat-red);

$HotelApp: mat-light-theme($HotelApp-primary, $HotelApp-accent, $HotelApp-warn);

@import './app/navigation/navtab/navtab.component-theme.scss';
@import './app/navigation/sidenav-list/sidenav-list.component-theme.scss';

@include angular-material-theme($HotelApp);
@include navtab-component-theme($HotelApp);
@include sidenav-list-component-theme($HotelApp);


