.container {
    height: 100vh;
    background-color: rgb(185, 188, 238);
}

.book-now-container {
    padding: 35px 115px;
}

.book-now-button {
    width: 170px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
}
    